<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salon Organizer</title>
  </head>
  <body>
    <h1>Welcome to the Salon Organizer</h1>
    <h4><a href="/stylists">View Your Stylist</a></h4>
    <h4><a href="/clients">View Your Clients</a></h4>
  </body>
</html>
