<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add a Stylist</title>
</head>
<body>
  <form action="/stylist/new" method="post">
    <label for="stylist-name">Name:</label>
    <input type="text" name="stylist-name" id="stylist-name">
    <button type="submit">Submit</button>
  </form>
  <a href="/">Return Home</a>

</body>
</html>
